.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    &__box {
        position: relative;
        top: 0.38rem;
    }
}